#graph_container {
    position: absolute;
    top: 0px;
    left: 10%;
    width: 90%;
    height: 90%;
    background: #6dd9df;
    border: 4px solid #000000;
}

#canvas_container {
    /*pointer-events:none;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    /*background: #ffffff;*/
}
.editable_div {
    overflow: auto;
}

#mini_console {
    position: absolute;
    top: 95%;
    left: 10%;
    width: 90%;
    height: 10%;
    background: #8edf8e;
    border: 4px solid #000000;
}

#sidebar_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: #d9b5df;
    /*border: 4px solid #000000;*/
}

.editor_container {

    width: 20%;
    height: 100px;
    background: #d8df80;
    border: 4px solid #000000;
    position: absolute;

}

.editable_div {
    top: 0;
    left: 10%;
    width: 90%;
    height: 95%;
    background: #c6cbdf;
    border: 1px solid #000000;
    /*position: absolute;*/
}

.move_button {
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 33%;
    background: #DF0000;
    border: 1px solid #000000;

}