
.longDiv {
    width: 200%;
    height: 100%;
    padding: 10px;
    border: 1px solid #2f2f2f;
    background: #47464a;
    /*float: left;*/
}

.big {
    font-size: 20px;

}

hr {
    border-color: #383838;
}

.node_div {
    border: 1px #000000;
    margin-bottom: 3px;
    background: #e8e8e8;
}

#bulk_txt {
    position: absolute;top: 50px;left: 0;width: 50%;height: 100%;background: #3e3e3e;border: 2px solid #000000;
}

#node_dump {
    position: absolute;
    overflow: scroll;
    top: 50px;
    left: 50%;
    width: 50%;
    height: 100%;
    background: #3e3e3e;
    /*padding: 10px;*/
    border: 2px solid #000000;
}

#cy {
    height: 100%;
    width: 50%;
    /*position: relative;*/
    position: absolute;
    /*position: inherit;*/
    left: 100%;
    top: 120px;
    border: 1px solid #2f2f2f;
    background: #aaaadd;
}

#cy_status {
    background: #e7e7e7;
    /*padding: 10px;*/
    border: 1px solid #000000;
    resize: none;
}

#cy_toolbar {
    position: absolute;
    left: 100%;
    top: 50px;
    height: 70px;
    width: 50%;
    background: #434343;
    /*padding: 10px;*/
    border: 3px solid #000000;
}

#cy_button_pane {
    background: #4e4e4e;
    position: absolute;
    height: 100%;
    border: 1px solid #000000;
    color: #d1bc00;
    width: 70%;
    left: 29%;
    top: 0;
}
